<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.mybatis.dao.SponsorMapper">

    <resultMap id="BaseResultMap" type="lt.vu.mybatis.model.Sponsor">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="lt.vu.mybatis.model.Sponsor" useGeneratedKeys="true">
        insert into PUBLIC.SPONSOR (NAME)
        values (#{name,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from PUBLIC.SPONSOR
        where ID = #{id,jdbcType=INTEGER}
    </delete>

    <update id="updateByPrimaryKey" parameterType="lt.vu.mybatis.model.Sponsor">
        update PUBLIC.SPONSOR
        set NAME = #{name,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select ID, NAME
        from PUBLIC.SPONSOR
        where ID = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select ID, NAME
        from PUBLIC.SPONSOR
    </select>

</mapper>
